@using Aliyun.Acs.Cms.Model.V20180308;
@model List<QueryProjectMetaResponse.QueryProjectMeta_Resource>
@{
    ViewData["Title"] = "阿里云监控支持的监控指标";
}

    <h1>阿里云监控支持的监控指标</h1>
    <div class="text-center">
        <p>
            阿里云监控数据Exporter<a target="_blank" href="@Url.Action("metrics","aliyun")">Metrics</a>
        </p>
        <p>
            阿里云监控数据手动清除Info缓存的接口<a target="_blank" href="@Url.Action("ClearInfoCache","aliyun")">点击清除缓存</a>
        </p>
    </div>
<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("projects","aliyun",new { id = item.Project })">@item.Project</a></td>
                <td>@item.Description</td>
                <td>@item.Labels</td>
            </tr>
        }
    </tbody>
</table>