@using Aliyun.Acs.Cms.Model.V20180308
@model List<QueryMetricMetaResponse.QueryMetricMeta_Resource>
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table>
    <thead>
        <tr>
            <th>Metric</th>
            <th>Dimensions</th>
            <th>Periods</th>
            <th>Unit</th>
            <th>Description</th>
            <th>Statistics</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Metric</td>
                <td>@item.Dimensions</td>
                <td>@item.Periods</td>
                <td>@item.Unit</td>
                <td>@item.Description</td>
                <td>@item.Statistics</td>
            </tr>
        }
    </tbody>
</table>

